@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto sans KR font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Roboto Mono font */
@import url('indexIEStyle.css');
/* ieStyle */
@keyframes blink {
    50% {
      opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 50px;
    } to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        margin-top: 0px;
    } to {
        opacity: 0;
        margin-top: 50px;
    }
}

@keyframes rotation {
    from {
        transform:rotate(0);
    } to {
        transform:rotate(360deg);
    }
}

@keyframes Flash {
    from {
        background-color: #87cefa00;
    } 20% {
        background-color: #87cefaff;
    } 100% {
        background-color: #87cefa00;
    }
}

@keyframes barIMotion {
    from {
        top: -3rem;
    } 50% {
        top: -2rem;
    } to {
        top: -3rem;
    }
}

:root {
    --x: 0;
    --i: 0;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'sans-serif';
    text-decoration: none;
    list-style-type: none;
    color: #333;
    word-break: keep-all;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: #eee;
}

body > div.contents {
    width: 100vw;
    height: calc(10vh - 3px);
}

body > div.contents.transition {
    transition: 1s;
}

body > .line.transition {
    transition: 1s;
}

body > div.console.transition {
    transition: 1s;
}

body > div.console {
    width: 100vw;
    height: calc(90vh - 3px);
}

body > .line {
    width: 100vw; height: 6px; 
    background: none;
    display: flex;
    cursor: row-resize;
    position: absolute;
    top: 10vh;
    align-items: center;
    justify-content: center;
}

body > .line:hover {
    background-color: #3390FF;
    transition-delay: 0.2s;
}

body > .line::after {
    content: "resize controll";
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 12px;
    display: inline-block;
    position: absolute;
    top: -3rem;
}

body > .line::before {
    content: '';
    display: inline-block;
    width: 2rem; height: 2rem;
    position: absolute;
    top: -2.5rem;
    margin-left: 300px;
    background: url(../images/index/resize.png) 50% 50% / contain no-repeat;
    animation: barIMotion 1s infinite ;
}

/* console========================================================================== */

.console * {
    user-select: none;
}

.console {
    border: 1px solid #000;
    overflow: hidden;
}

.console .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; height: 2rem;
    padding-left: 8px;
    background: #c9c9d0;
    outline: 1px solid #000;
    z-index: 10;
}

.console .top > div {
    display: flex;
    align-items: center;
    flex: 0 1 40px;
}

.console .top > div:first-child i {
    display: flex;
    width: 1.2rem; height: 1.2rem;
    margin-right: 12px;
    background: url(../images/index/cdm_i.png) 50% 50%/ contain no-repeat;
}

.console .top > div:first-child p {
    cursor: default;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
}

.console .top > div.gb {
    display: flex;
    align-self: flex-start;
}

.console .top > div.gb a {
    width: 3rem; height: 1.5rem;
    display: flex;
    cursor: default;
}

.console .top > div.gb a:hover {
    outline: 1px solid #333;
    background: #989898;
}

.console .top > div.gb a.transition {
    animation: Flash 0.5s;
}

.console .top > div.gb a i {
    width: 100%; height: 100%;
    display: flex;
}

.console .top > div.gb a:first-child i {
    background: url(../images/index/min.png) 50% 50% / 70% no-repeat;
}

.console .top > div.gb a:last-child i {
    background: url(../images/index/max.png) 50% 50% / 70% no-repeat;
}

.console .window {
    background: #000;
    width: 100%; height: calc(100% - 2rem);
    border: 2px solid #aaa;
    padding: 12px 30px;
    position: relative;
    overflow-y: scroll;
    transition: 0.5s;
    overflow-x: hidden;
}

.console .window p:first-child span {
    color: #fff;
    font-family:'Roboto Mono', monospace, 'Noto Sans KR', 'sans-serif';
    font-size: 1rem;
}

.console .window p:first-child i {
    width: 0.8rem; height: 0.3rem;
    background: #fff;
    display: inline-block;
    animation: blink 0.5s step-end infinite;
}

.console .window p:first-child i.on {
    animation: none;
}

.console .window p:first-child i.off {
    display: none;
}

.console .window p:nth-child(2) {
    position: relative;
    height: 1.5rem;
}

.console .window p:nth-child(2) span {
    color: #000;
    font-family:'Roboto Mono', monospace, 'Noto Sans KR', 'sans-serif'
}

.console .window p:nth-child(2) i {
    width: 0.8rem; height: 0.3rem;
    background: #fff;
    display: none;
    animation: blink 0.5s step-end infinite;
}

.console .window p:nth-child(2) i.on {
    display: inline-block;
}

.console .window p:nth-child(2) i.keydown {
    animation: none;
}

.console .window input {
    position: absolute;
    background: none;
    border: none;
    caret-color: transparent;
    color: #fff;
    width: 100%; height: 1.5rem;
    font-size: 1rem;
    font-family:'Roboto Mono', monospace, 'Noto Sans KR', 'sans-serif'
}

.console .window input:focus {
    outline: none;
}

/* contents-------------------------------------------------------------------------- */

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.contents::after {
    content: "";
    display: none;
    width: 10vh; height: 10vh;
    background: url(../images/index/loading.png) 50% 50% / cover no-repeat;
    animation: rotation 2s infinite;
    position: absolute;
}

.bg {
    font-family:'Roboto Mono', monospace, 'Noto Sans KR', 'sans-serif';
    position: absolute;
    opacity: 0.3;
    user-select: none;
    transform: translateX(calc(var(--x) * var(--i)));
    z-index: -1;
}

.bg.fst {
    top: -1%; right: -4%;
}

.bg.snd {
    bottom: -7%; left: -7%;
}

.contents.loading::after {
    display: flex;
}

.contents > div {
    width: 100%; height: 100%;
    display: none;
    overflow-y: scroll;
    justify-content: space-around;
}

.contents > div::-webkit-scrollbar {
    width: 6px;
}

.contents > div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 0px;
}

.contents > div::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 3px;
}

.contents > div > div {
    opacity: 0;
}

.contents > div.load {
    display: flex;
}

.contents > .box h2 {
    font-size: 5rem; font-weight: 900;
    line-height: 6rem;
    font-style: italic;
}

.contents > .box.load > div:first-child {
    animation: fadein 1s forwards;
    transition: 1s;
    top: 0;
    position: sticky;
}

.contents > .box.load > div:last-child {
    opacity: 0;
    animation: fadein 1s 1s forwards;
    transition: 1s;
}

.contents > .box.load.hover > div {
    margin-left: 0;
}

/* box1---------------------------------------------------------------------------------- */


.contents > .box.load > div {
    width: 50%;
    display: flex;
}

.fst.load > div:first-child {
    align-items: center;
    justify-content: center;
}

.fst.load > div:last-child {
    align-items: flex-start;
    justify-content: center;
    padding: 42px 0;
}

.fst > div > div {
    display: flex;
    position: sticky;
    bottom: 0;
    flex-direction: column;
    width: 60%;
}

.fst p {
    font-size: 1.2rem;
    margin-bottom: 36px;
    transition: 0.5s;
}

.fst h4 {
    font-size: 1.5rem;
    transition: 0.5s;
    margin-bottom: 12px;
}

.fst span {
    font-size: 1.2rem;
    transition: 0.5s;
}

.fst.hover img {
    animation: fadein 0.5s forwards;
}

.fst .les > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.fst .les > div span i {
    margin-right: 12px;
}

/* box2----------------------------------------------------------------------------------- */

.contents > .box.snd.load > div {
    margin: 0 auto;
    display: flex;
}

.contents > .box.snd.load > div:first-child {
    padding: 42px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contents > .box.snd.load > div:last-child {
    justify-content: center;
}

.contents > .box.snd.load > div:last-child > div {
    width: 60%;
    padding: 42px 0;
}

.contents > .box.snd.load h2 {
    margin-bottom: 30px;
}

.contents > .box.snd.load .pagePhoto {
    width: 100%;
    overflow-y: scroll;
}

.contents > .box.snd.load .pagePhoto::-webkit-scrollbar {
    width: 6px;
}

.contents > .box.snd.load .pagePhoto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 0px;
}

.contents > .box.snd.load .pagePhoto::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 3px;
}

.contents > .box.snd.load .pagePhoto img {
    width: 100%;
    margin-bottom: 30px;
}

.contents > .box.snd.load .pagePhoto img:last-child {
    margin-bottom: 0;
}

.contents > .box.snd.load .pagePhoto span {
    position: absolute;
    bottom: 0; right: 0;
    padding: 6px 12px;
    background-color: #0972CD33;
    transition: 0.5s;
}

.contents > .box.snd.load h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.contents > .box.snd.load p {
    margin-bottom: 30px;
}

.contents > .box.snd.load h4 {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.contents > .box.snd.load .CB {
    margin-bottom: 30px;
}

.contents > .box.snd.load .CB > div {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.contents > .box.snd.load .CB i {
    width: 60px; height: 60px;
    display: flex;
    text-indent: -1000px;
    overflow: hidden;
}

.contents > .box.snd.load .CB i:nth-child(1) {
    background: url(../images/index/chrome.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .CB i:nth-child(2) {
    background: url(../images/index/microsoft.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .CB i:nth-child(3) {
    background: url(../images/index/firefox.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .CB i:nth-child(4) {
    background: url(../images/index/internet-explorer.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .PV > div {
    display: flex;
    justify-content: space-between;
}

.contents > .box.snd.load .PV a {
    font-size: 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 6px 24px;
    outline: 1px solid #333;
}

.contents > .box.snd.load .PV a:hover {
    outline: 3px solid #666;
}

/* box3----------------------------------------------------------------------------------- */

.contents > .trd.load {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contents > .trd.load span {
    font-size: 2rem;
}

/* error---------------------------------------------------------------------------------- */

.contents {
    margin-bottom: 6px;
}

.contents .error {
    background: #000;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.contents .error.load {
    display: flex;
}

.contents .error h2 {
    color: #fff;
    font-size: 3rem; font-weight: 600;
    padding: 0 12px;
    background-color: red;
}

.contents .error.load h2 {
    animation: none;
}

.contents .error p {
    color: #fff;
    width: 50%;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
}