@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto sans KR font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Roboto Mono font */
@import url('indexIEStyle.css');
/* ieStyle */
@keyframes blink {
    50% {
      opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        margin-top: 0px;
    }
    to {
        opacity: 0;
        margin-top: 50px;
    }
}

@keyframes rotation {
    from {
        transform:rotate(0);
    }
    to {
        transform:rotate(360deg);
    }
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'sans-serif';
    text-decoration: none;
    list-style-type: none;
    color: #333;
    word-break: keep-all;
    outline: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: #eee;
}

body > div.contents {
    width: 100vw;
    height: calc(33vh - 3px);
}

body > div.contents.transition {
    transition: 0.5s;
}

body > .line.transition {
    transition: 0.5s;
}

body > div.console.transition {
    transition: 0.5s;
}

body > div.console {
    width: 100vw;
    height: calc(67vh - 3px);
}

body > .line {
    width: 100vw; height: 6px; 
    background: #666;
    display: flex;
    cursor: row-resize;
    position: absolute;
    top: 33vh;
    align-items: center;
    justify-content: center;
}

body > .line::after {
    content: "resize controll";
    padding-bottom: 12px;
    display: inline-block;
    position: absolute;
    top: -30px;
}

/* console========================================================================== */

.console * {
    user-select: none;
}

.console {
    border: 1px solid #000;
    /* overflow: hidden; */
}

.console .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; height: 2rem;
    padding-left: 8px;
    background: #aaa;
    outline: 1px solid #000;
    z-index: 10;
}

.console .top > div {
    display: flex;
    align-items: center;
}

.console .top > div:first-child i {
    display: flex;
    width: 1.2rem; height: 1.2rem;
    margin-right: 12px;
    background: url(../images/index/cdm_i.png) 50% 50%/ contain no-repeat;
}

.console .top > div:first-child p {
    cursor: default;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
}

.console .top > div:last-child {
    display: flex;
}

.console .top > div:last-child a {
    width: 2rem; height: 2rem;
    display: flex;
    border: 1px solid #333;
    cursor: default;
}

.console .top > div:last-child a i {
    width: 100%; height: 100%;
    display: flex;
}

.console .top > div:last-child a:first-child i {
    background: url(../images/index/min.png) 50% 50% / cover no-repeat;
}

.console .top > div:last-child a:last-child i {
    background: url(../images/index/max.png) 50% 50% / cover no-repeat;
}

.console .window {
    background: #000;
    width: 100%; height: calc(100% - 2rem);
    border: 2px solid #aaa;
    padding: 12px 30px;
    position: relative;
    overflow-y: scroll;
    transition: 0.5s;
}

.console .window::-webkit-scrollbar {
    display: none;
}

.console .window p:first-child span {
    color: #fff;
    font-family:'Roboto Mono', monospace, 'Noto Sans KR', 'sans-serif';
    font-size: 1rem;
}

.console .window p:first-child i {
    width: 0.8rem; height: 0.3rem;
    background: #fff;
    display: inline-block;
    animation: blink 0.5s step-end infinite;
}

.console .window p:first-child i.on {
    animation: none;
}

.console .window p:first-child i.off {
    display: none;
}

.console .window p:nth-child(2) {
    position: relative;
    height: 1.5rem;
}

.console .window p:nth-child(2) span {
    color: #000;
    font-family:'Roboto Mono', monospace, 'Noto Sans KR', 'sans-serif'
}

.console .window p:nth-child(2) i {
    width: 0.8rem; height: 0.3rem;
    background: #fff;
    display: none;
    animation: blink 0.5s step-end infinite;
}

.console .window p:nth-child(2) i.on {
    display: inline-block;
}

.console .window p:nth-child(2) i.keydown {
    animation: none;
}

.console .window input {
    position: absolute;
    background: none;
    border: none;
    caret-color: transparent;
    color: #fff;
    width: 100%; height: 1.5rem;
    font-size: 1rem;
    font-family:'Roboto Mono', monospace, 'Noto Sans KR', 'sans-serif'
}

.console .window input:focus {
    outline: none;
}

/* contents-------------------------------------------------------------------------- */

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contents::after {
    content: "";
    display: none;
    width: 10vh; height: 10vh;
    background: url(../images/index/loading.png) 50% 50% / cover no-repeat;
    animation: rotation 2s infinite;
    position: absolute;
}

.contents.loading::after {
    display: flex;
}

.contents > div {
    width: 100%; height: 100%;
    flex: 0 0 100%;
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    background: url(../images/index/background.jpg) 50% 50% / 130% no-repeat;
    position: relative;
}

.contents > div > div {
    opacity: 0;
}

.contents > div.load {
    display: flex;
}

.contents > .box h2 {
    font-size: 5rem; font-weight: 900;
    line-height: 6rem;
    font-style: italic;
    position: absolute;
    top: 40%; left: 15%;
}

.contents > .box.load h2 {
    animation: fadein 1s forwards;
    margin-bottom: 0;
    transition: 1s;
}

.contents > .box.load.hover h2 {
    position: absolute;
    top: 24px; left: 40px;
}

.contents > .box.load > div {
    opacity: 0;
    animation: fadein 1s 1s forwards;
    margin-left: 40%;
    transition: 1s;
}

.contents > .box.load.hover > div {
    margin-left: 0;
}

/* main------------------------------------------------------------------------------------- */

.contents .main > div p {
    font-size: 1.5rem;
    line-height: 3rem;
}

.contents > .box.main h2 {
    position: relative;
    top: auto; left: auto;
}

.contents > .main.load > div {
    opacity: 0;
    animation: fadein 1s 1s forwards;
    margin-left: 0;
    transition: none;
}

/* box1---------------------------------------------------------------------------------- */


.contents > .box.fst.load > div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fst > div > div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.fst img {
    transition: 1s;
    align-self: center;
    height: 100%;
    animation: fadeout 0.5s forwards;
    margin-right: 10vw;
}

.fst p {
    font-size: 1.2rem;
    margin-bottom: 36px;
    transition: 0.5s;
}

.fst h4 {
    font-size: 1.5rem;
    transition: 0.5s;
    margin-bottom: 12px;
}

.fst span {
    font-size: 1.2rem;
    transition: 0.5s;
}

.fst.hover img {
    animation: fadein 0.5s forwards;
}

.fst .les > div {
    display: flex;
    flex-direction: column;
}

.fst .les > div span i {
    margin-right: 12px;
}

/* box2----------------------------------------------------------------------------------- */

.contents > .box.snd.load > div {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contents > .box.snd.load > div > div:nth-child(1) {
    width: 45%;
    opacity: 0;
    display: flex;
    transition: 0.5s;
}

.contents > .box.snd.load.hover > div > div:nth-child(1) {
    opacity: 1;
}

.contents > .box.snd.load > div > div:nth-child(1) > a {
    display: none;
    width: 100%; height: 100%;
    text-indent: -2000px;
    overflow: hidden;
    position: relative;
}

.contents > .box.snd.load > div > div:nth-child(1) > a span {
    text-indent: 0;
    position: absolute;
    bottom: 0; right: 0;
    padding: 6px 12px;
    background-color: #0972CD33;
    transition: 0.5s;
}

.contents > .box.snd.load > div > div:nth-child(1) > a:hover span {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
}

.contents > .box.snd.load > div > div:nth-child(1) > a.on {
    display: flex;
}

.contents > .box.snd.load > div > div:nth-child(1) > a:nth-child(1) {
    background: url(../images/index/main.png) 50% 0 / cover no-repeat;
}

.contents > .box.snd.load > div > div:nth-child(1) > a:nth-child(2) {
    background: url(../images/index/ir.png) 50% 0 / cover no-repeat;
}

.contents > .box.snd.load > div > div:nth-child(1) > a:nth-child(3) {
    background: url(../images/index/PR.png) 50% 0 / cover no-repeat;
}

.contents > .box.snd.load > div > div:nth-child(2) {
    width: 50%;
}

.contents > .box.snd.load > div > div:nth-child(2) h3 {
    font-size: 2.4rem;
    margin-bottom: 36px; font-weight: 400;
}

.contents > .box.snd.load > div > div:nth-child(2) p {
    font-size: 1.5rem;
    margin-bottom: 24px;
    text-align: justify;
}

.contents > .box.snd.load > div > div:nth-child(2) > div {
    width: 50%;
}

.contents > .box.snd.load h4 {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.contents > .box.snd.load .CB {
    margin-bottom: 24px;
}

.contents > .box.snd.load .CB > div {
    display: flex;
    justify-content: space-between;
}

.contents > .box.snd.load .CB i {
    width: 60px; height: 60px;
    display: flex;
    text-indent: -1000px;
    overflow: hidden;
}

.contents > .box.snd.load .CB i:nth-child(1) {
    background: url(../images/index/chrome.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .CB i:nth-child(2) {
    background: url(../images/index/microsoft.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .CB i:nth-child(3) {
    background: url(../images/index/firefox.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .CB i:nth-child(4) {
    background: url(../images/index/internet-explorer.png) 50% 50% / contain no-repeat;
}

.contents > .box.snd.load .PV > div {
    display: flex;
    justify-content: space-between;
}

.contents > .box.snd.load .PV a {
    font-size: 1.5rem;
    width: 30%;
    display: flex;
    justify-content: center;
}

.contents > .box.snd.load .PV a:hover {
    color: #abd;
}

/* box3----------------------------------------------------------------------------------- */

.contents > .trd.load {
    flex-direction: column;
    justify-content: space-evenly;
}

.contents > .trd.load h2 {
    position: static;
}

.contents > .trd.load.hover h2 {
    position: static;
}

.contents > .trd.load span {
    font-size: 2rem;
}

/* error---------------------------------------------------------------------------------- */

.contents {
    margin-bottom: 6px;
}

.contents .error {
    background: #000;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.contents .error.load {
    display: flex;
}

.contents .error h2 {
    color: #fff;
    font-size: 3rem; font-weight: 600;
    padding: 0 12px;
    background-color: red;
}

.contents .error.load h2 {
    animation: none;
}

.contents .error p {
    color: #fff;
    width: 50%;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
}