@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto sans KR font */
@import url('krconIeStyle.css');
@import url('common.css');

section > .inner {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}    

section > .inner h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 2rem; font-weight: 500;
}    

section > .inner h3::after {
    content: "";
    display: flex;
    width: 50%; height: 6px;
    background-color: #0972CD;
    margin: 12px 0 24px;
}    

section > .inner p {
    display: flex;
    justify-content: center;
    font-size: 1.2rem; font-weight: 300;
}    


section .box {
    margin-bottom: 30px;
}

section .box .inner {
    display: flex;
    padding: 30px 0;
}

section .bar {
    background: #0972CD;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .bar h4 {
    color: #eee;
    font-size: 2.5rem; font-weight: 200;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1rem;
    margin: 0 6px;
}

section .box .img {
    display: flex;
    margin: 0 24px; padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    height: 540px;
    background: url(../images/krcon/kr.jpg) 50% 50% / cover no-repeat;
    width: 100%;
}

section .box .img h6 {
    font-size: 1.5rem; font-weight: 300;
    color: #eee;
    background: rgba(0,0,0,0.3);
    display: flex;
    width:fit-content;
}

section .box .text.container {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    justify-content: space-between;
    width: 100%;
}

section .box .text.container table {
    outline: 1px solid #333;
    height: 100%;
}

section .box .text.container table td:first-child {
    background: rgba(0,0,0,0.3);
    height: 100%;
    padding: 0 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .box .text.container table td:last-child {
    padding-left: 36px;
}

section > div:last-child .inner {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
}

section > div:last-child a {
    padding: 6px 12px;
    font-size: 2rem; font-weight: 500;
    display: flex;
    width: 40%;
    justify-content: center;
}

section > div:last-child a i {
    background: url(../images/krcon/arrow.svg) 50% 50% / contain no-repeat;
    display: inline-block;
    width: 20%;
    margin-left: 24px;
}

/* ----------------footer----------------------- */

footer {
    padding: 30px;
    background-color: #333;
}

footer * {
    color: #eee;
    font-weight: 200;
}

footer .ftlogo {
    text-indent: -1000px;
    overflow: hidden;
    width: 120px; height: 40px;
    padding: 10px;
    background: url(../images/krcon/footer-logos.png) 50% 50% no-repeat;
    background-size: contain;
}
