@import url(common_m.css);

section > .inner {
    height: auto;
}

section.width .box .inner {
    flex-direction: column;
}

section.width .bar h4 {
    font-size: 2rem; font-weight: 200;
    writing-mode:horizontal-tb;
    text-orientation: upright;
    letter-spacing: 1rem;
    margin: 6px 0;
}

section .box .text.container table tr {
    height: 3rem;
}

section .box .text.container table td:first-child {
    padding: 0 12px;
    white-space: nowrap;
}

section > div:last-child > .inner a {
    width: 70%;
}

section.width > div:last-child > .inner a {
    width: 50%;
}