@charset "utf-8";
@import url(IE_common.css);

.is-ie section > .inner h3::after {
    width: 3rem; height: 0.5rem;
}

.is-ie section .bar {
    width: 10%;
}

@media all and ( max-width: 1280px ) {
    .is-ie section .bar {
        width: 100%;
    }

    .is-ie section .box .text.container table {
        width: 100%;
    }
}