.inner {
    width: 100%;
    padding: 0 24px;
}

/* header==================== */

header .top_nav.wrap > li:first-child div {
    padding: 6px;
}

header .top_nav.wrap::before {
    height: 61vh;
}

header .top_nav.wrap::after {
    height: 61vh;;
}

header .top_nav.wrap.width > li:first-child div:first-child > li > a > span {
    bottom: -6vh;
}

header .depth.snd {
    top: 39vh;
    height: 61vh;
}

header .depth.snd > li:hover > a {
    border: 6px solid #00000010;
}

header .depth.trd {
    top: 39vh;
    height: 61vh;
}

header .top_nav.wrap.width::before {
    height: 50.5vh;
}

header .top_nav.wrap.width::after {
    height: 50.5vh;
}

header .top_nav.wrap > li:first-child div > li {
    border-radius: 1vw;
}

header .top_nav.wrap.width .depth.snd {
    top: 49.5vh;
    height: 50.5vh;
}

header .top_nav.wrap.width .depth.trd {
    top: 49.5vh;
    height: 50.5vh;
}

/* sec================================================================================= */

section .top {
    height: 120px;
}

section .top h2 {
    font-size: 1.5rem;
}

section .page_depth li a {
    font-size: 1rem; font-weight: 100;
}

section > .inner {
    height: auto;
}

section.width .box .inner {
    flex-direction: column;
}

section.width .bar h4 {
    font-size: 2rem; font-weight: 200;
    writing-mode:horizontal-tb;
    text-orientation: upright;
    letter-spacing: 1rem;
    margin: 6px 0;
}

section .box .text.container table tr {
    height: 3rem;
}

section .box .text.container table td:first-child {
    padding: 0 12px;
    white-space: nowrap;
}

section > div:last-child > .inner a {
    width: 70%;
}

section.width > div:last-child > .inner a {
    width: 50%;
}