.inner {
    width: 100%;
    padding: 0 24px;
}

html {
    font-size: 14px;
}

/* header==================== */

header .top_nav.wrap > li:first-child div {
    padding: 6px;
}

header .top_nav.wrap::before {
    height: 61vh;
}

header .top_nav.wrap::after {
    height: 61vh;;
}

header .top_nav.wrap.width > li:first-child div:first-child > li > a > span {
    bottom: -6vh;
}

header .depth.snd {
    top: 39vh;
    height: 61vh;
}

header .depth.snd > li:hover > a {
    border: 6px solid #00000010;
}

header .depth.trd {
    top: 39vh;
    height: 61vh;
}

header .top_nav.wrap.width::before {
    height: 50.5vh;
}

header .top_nav.wrap.width::after {
    height: 50.5vh;
}

header .top_nav.wrap > li:first-child div > li {
    border-radius: 1vw;
}

header .top_nav.wrap.width .depth.snd {
    top: 49.5vh;
    height: 50.5vh;
}

header .top_nav.wrap.width .depth.trd {
    top: 49.5vh;
    height: 50.5vh;
}

/* sec1===================================================================== */

section.fst .top {
    height: 120px;
}

section.fst .top h2 {
    font-size: 1.5rem;
}

section.fst .page_depth li a {
    font-size: 1rem;
}

section.fst .container.fst > div:first-child {
    display: flex;
    flex-direction: column;
}

section.fst .container .box {
    width: 100%;
}

section.fst .container .box .date {
    font-size: 1.8rem;
}

section.fst .container .box .stock {
    margin-top: 42px;
}

section.fst .container .box .companySt span {
    font-size: 4rem;
}

section.fst .container .box .stock {
    flex-direction: column;
}

section.fst .container .box .stock > div {
    margin-top: 42px;
    width: 100%;
    justify-content: space-around;
}

section.fst .container .report {
    width: 100%; height: 300px;
}

section.fst .container .report > div {
    outline: 1px solid #333;
}

section.fst .stockContainer > div {
    flex: 1 1 40%
}

section.fst .stockContainer h4 {
    font-size: 2rem;
}

section.fst .stockContainer span {
    font-size: 1.4rem;
}

section.snd {
    padding: 0;
}

section.snd .inner > div:last-child {
    display: none;
}