.inner {
    width: 80%;
}

/* header============================ */

body {
    overflow-x: hidden;
}

header .top_nav.wrap  {
    width: 70vw; height: 100vh;
    background: #0972CD;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    transform: translateX(100%);
    transition: 500ms;
    overflow: hidden;
    justify-content: flex-end;
}

.top_nav.wrap > li:hover .bot_nav.wrap {
    display: none;
    height: auto;
}

header .top_nav.wrap::before {
    content: "";
    position: absolute;
    display: inline-block; 
    width: 35%; height: 62.5vh;
    bottom: 0;
    background: #ddd;
}

header .top_nav.wrap::after {
    content: "";
    position: absolute;
    display: inline-block; 
    width: 65%; height: 62.5vh;
    bottom: 0; right: 0;
    z-index: -1;
    background: #ccc;
}

header .overay {
    content: "";
    width: 100vw; height: 100vh;
    position: absolute;
    display: none;
    background: #000;
    opacity: 0.3;
    top: 0; left: 0;
    z-index: 0;
}

header .overay.on {
    display: flex;
}

header .top_nav.wrap.on {
    transform: translateX(0);
    transition: 500ms;
}

header .top_nav.wrap > li {
    width: 30%; height: 12%;
    background-color: #0972CD;
    position: relative;
}

header .bt {
    width: 40px; height: 40px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 20px; right: 20px;
    overflow: hidden;
    text-indent: -1000px;
    background: url(../images/krcon/menu.svg) 50% 50% / contain no-repeat;
}

header .bt.on {
    background: url(../images/krcon/close.svg) 50% 50% /contain no-repeat;
}

header .top_nav.wrap > li > a {
    color: #eee;
}

header .top_nav.wrap > li:hover > a {
    color: #eee;
}

header .top_nav.wrap > li:hover {
    border-right: none;
    background: none;
}

header .depth::after {
    display: none;
}

.bot_nav.wrap {
    display: none;
    z-index: 0;
    background: none;
}

header .depth.fst {
    position: absolute;
    width: 100%; height: 100%;
}

header .depth.fst > p {
    display: none;
}

header .depth.snd {
    position: fixed;
    top: 37.5vh; left: 0;
    width: 35%; height: 62.5vh;
    flex-direction: column;
}

header .depth.snd > li {
    margin: 5px 0; padding: 0 5px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .depth.snd > li:first-child {
    margin-top: 10px;
}

header .depth.snd > li::before {
    content: "";
    width: 80%; height: 2px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: -5px;
}

header .depth.snd > li::after {
    content: "";
    width: 80%; height: 2px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
}

header .depth.snd > li > a {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    padding: 0;
    justify-content: center;
}

header .depth.snd > li:hover > a {
    background: #999;
    border: 12px solid #00000010;
    white-space: nowrap;
}

header .depth.snd > li > a span {
    color: #fff;
    font-size: 1.2rem;
}

.bot_nav.wrap i {
    display: none;
}

header .depth.trd {
    position: fixed;
    top: 37.5vh; left: 35%;
    width: 65%; height: auto;
    overflow: auto;
}

header .depth.trd > li > ul {
    height: auto;
}

header .depth.trd > li > ul > li {
    margin: 0;
    height: 3rem;
    position: relative;
}

header .depth.trd > li > ul > li a::after {
    content: "";
    width: 90%; height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 1px;
}

header .depth.trd > li > ul > li * {
    color: #eee;
    padding: 0;
    justify-content: center;
}

header .top_nav.wrap > li:first-child {
    border: none;
    position: absolute;
    top: 80px; left: 0;
    width: 100%; height: auto;
    flex-direction: column;
}

header .top_nav.wrap > li:last-child {
    position: absolute;
    top: 22px; right: 120px;
    width: 60px; height: 36px;
}

header .top_nav.wrap > li:first-child div {
    width: 100%;
    padding: 24px;
    justify-content: space-around;
}

header .top_nav.wrap > li:first-child div:first-child {
    height: 20vh;
    align-items: flex-start;
}

header .top_nav.wrap > li:first-child div > li {
    width: 11vh;
    border-radius: 3vw;
    /* background: url(../images/krcon/Introduce.png)50% 50% / contain no-repeat; */
}

header .top_nav.wrap > li:first-child div:first-child > li {
    height: 11vh;
}

header .top_nav.wrap > li:first-child div:first-child > li:nth-child(1) {
    background: url(../images/krcon/Introduce.png) 50% 50% / 80% no-repeat;
}

header .top_nav.wrap > li:first-child div:first-child > li:nth-child(2) {
    background: url(../images/krcon/investment.png) 50% 50% / 80% no-repeat;
}

header .top_nav.wrap > li:first-child div:first-child > li:nth-child(3) {
    background: url(../images/krcon/promotion.png) 50% 50% / 80% no-repeat;
}

header .top_nav.wrap > li:first-child div:last-child > li {
    height: 5vh;
    outline: 1px solid #eee;
}

header .top_nav.wrap > li:first-child div > li:hover {
    outline: 2px solid #eee;
}

header .top_nav.wrap > li:first-child div:last-child > li:hover {
    background: #eee;
}

header .top_nav.wrap > li:first-child div > li > a {
    display: flex;
    justify-content: center;
    position: relative;
}

header .top_nav.wrap > li:first-child div > li > a > span {
    color: #eee;
    font-size: 1.2rem;
}

header .top_nav.wrap > li:first-child div:first-child > li > a > span {
    text-align: center;
    position: absolute;
    bottom: -4vh;
    white-space: nowrap;
}

header .top_nav.wrap > li:first-child div:last-child > li:hover > a > span {
    color: #333;
    background: #eee;
}

header .top_nav.wrap > li:first-child div:first-child > li:hover .bot_nav.wrap {
    display: flex;
}

.top_nav.wrap a:hover {
    color: #fff
}

/* width================================================= */


header .top_nav.wrap.width::before {
    height: 58.4vh;
}

header .top_nav.wrap.width::after {
    height: 58.4vh;
}

header .top_nav.wrap.width > li:first-child div:last-child > li {
    width: 15vw;
}

header .top_nav.wrap.width .depth.snd {
    top: 41.6vh;
    height: 58.4vh;
}

header .top_nav.wrap.width .depth.trd {
    top: 41.6vh;
}

/* sec================================================================================= */

section .page_depth {
    margin-top: 24px;
}

section.fst .top h2 {
    font-size: 4rem;
}

section.fst .page_depth li a {
    font-size: 2rem;
}

/* sec1------------------------------------------------------------------------------ */

section.fst .container .box {
    width: 80%;
    padding: 24px;
}

section.fst .container .box .companySt {
    flex-direction: column;
    margin-top: 0;
}

section.fst .container .box .companySt .company::after {
    display: none;
}

section.fst .container .box .stock {
    margin: 30px 0 0;
}

section.fst .container .box .stock > div {
    width: 35%;
}

section.fst .container .box .stock > span:first-child::before {
    font-size: 2.5rem;
    top: -30px;
}

section.fst .container .box .stock > div span:first-child::before {
    font-size: 2rem;
    width: max-content;
    top: -30px;
}

section.fst .container .box .stock > div span:last-child::before {
    font-size: 2rem;
    width: max-content;
    top: -30px;
}

section.fst .stockContainer {
    flex-wrap: wrap;
}

section.fst .stockContainer > div {
    flex: 1 1 45%;
}

section.fst .stockContainer h4 {
    font-size: 3rem;
}

section.fst .stockContainer span {
    font-size: 2.5rem;
}

section.fst .stockContainer > div:nth-child(1) {
    order: 2;
}

section.fst .stockContainer > div:nth-child(2) {
    order: 3;
}

section.fst .stockContainer > div:nth-child(3) {
    order: 4;
}

section.fst .stockContainer > div:nth-child(4) {
    order: 1;
}

section.fst .stockContainer > div:nth-child(5) {
    order: 5;
}

section.fst .stockContainer > div:nth-child(6) {
    order: 6;
}

section.fst .stockContainer > div:nth-child(7) {
    order: 7;
}

/* sec2------------------------------------------------------------------------------ */

section.snd .chart.contain {
    flex-direction: column;
}

section.snd .chart.contain > div {
    width: 100%;
}

section.snd table * {
    font-size: 1.2rem;
}