@import url(common_m.css);

/* sec1===================================================================== */

section.fst .top {
    height: 120px;
}

section.fst .top h2 {
    font-size: 1.5rem;
}

section.fst .page_depth li a {
    font-size: 1rem;
}

section.fst .container.fst > div:first-child {
    display: flex;
    flex-direction: column;
}

section.fst .container .box {
    width: 100%;
}

section.fst .container .box .date {
    font-size: 1.8rem;
}

section.fst .container .box .stock {
    margin-top: 42px;
}

section.fst .container .box .companySt span {
    font-size: 4rem;
}

section.fst .container .box .stock {
    flex-direction: column;
}

section.fst .container .box .stock > div {
    margin-top: 42px;
    width: 100%;
    justify-content: space-around;
}

section.fst .container .report {
    width: 100%; height: 300px;
}

section.fst .container .report > div {
    outline: 1px solid #333;
}

section.fst .stockContainer > div {
    flex: 1 1 40%
}

section.fst .stockContainer h4 {
    font-size: 2rem;
}

section.fst .stockContainer span {
    font-size: 1.4rem;
}

section.snd {
    padding: 0;
}

section.snd .inner > div:last-child {
    display: none;
}