@import url(common_t.css);

section > .inner > div:last-child {
    flex-direction: column-reverse;
    align-items: center;
}

section .container {
    width: 100%;
    padding-bottom: 24px;
    margin: 0;
}