@import url(common_t.css);

section .contents {
    height: 120vh;
}

section .contents > div {
    height: 100%;
}

section .tap a {
    font-size: 1.2rem;
}

section .brochure > a {
    font-size: 1.5rem;
}

section .brochure {
    flex-direction: column;
}

section .brochure.width {
    flex-direction: row;
    height: 90vh;
}

section .brochure.width > a {
    height: 80%;
}

section .brochure > a {
    width: 65%;
    margin: 30px;
}