@charset "utf-8";
@import url(IE_common.css);

.is-ie section .contents > div {
    height: 800px;
    background: rgba(9,114,205,0.33);
}

.is-ie section .brochure {
    justify-content: center;
    align-items: center;
}

.is-ie section .brochure > a {
    margin: 30px;
}

.is-ie section > div.inner > div:first-child h3::after {
    width: 3rem; height: 0.5rem;
}

header .top_nav.wrap > li:hover > a::after {
    display: none;
}

@media (max-width: 1240px) {

    .is-ie section .contents {
        height: 80vh;
    }

    .is-ie section .brochure {
        flex-direction: row;
    }
}

@media all and ( max-width: 680px ) {
    .is-ie section .brochure {
        flex-direction: column;
        /* height: 1000px !important; */
    }
}