@import url(common_m.css);
/* sec===================================================================== */

section .top {
    height: 120px;
}

section .top h2 {
    font-size: 1.5rem;
}

section .page_depth li a {
    font-size: 1rem;
}

section > div.inner > div:first-child p {
    font-size: 0.8rem;
}

section .tap a {
    font-size: 0.7rem;
}

section .brochure > a {
    font-size: 1rem;
}

section .brochure > a:hover {
    font-size: 1rem;
}