.inner {
    width: 80%;
}

/* header============================ */

body {
    overflow-x: hidden;
}

header .top_nav.wrap  {
    width: 70vw; height: 100vh;
    background: #0972CD;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    transform: translateX(100%);
    transition: 500ms;
    overflow: hidden;
    justify-content: flex-end;
}

header .overay {
    content: "";
    width: 100vw; height: 100vh;
    position: absolute;
    display: none;
    background: #000;
    opacity: 0.3;
    top: 0; left: 0;
    z-index: 0;
}

header .overay.on {
    display: flex;
}

header .top_nav.wrap.on {
    transform: translateX(0);
    transition: 500ms;
}

header .top_nav.wrap > li {
    width: 30%; height: 12%;
    background-color: #0972CD;
    position: relative;
}

header .bt {
    width: 40px; height: 40px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 20px; right: 20px;
    overflow: hidden;
    text-indent: -1000px;
    background: url(../images/krcon/menu.svg) 50% 50% / contain no-repeat;
}

header .bt.on {
    background: url(../images/krcon/close.svg) 50% 50% /contain no-repeat;
}

header .top_nav.wrap > li, header .depth.snd > li, header .depth.trd > li > ul > li {
    border: 1px solid #eee;
}

header .top_nav.wrap > li > a {
    color: #999;
}

header .top_nav.wrap > li:hover > a {
    color: #eee;
}

header .top_nav.wrap > li:hover {
    border-right: none;
    background: none;
}

header .depth::after {
    display: none;
}

.bot_nav.wrap {
    display: none;
    top: 0px; left: 100%;
    z-index: 0;
}

header .top_nav.wrap > li:hover .bot_nav.wrap {
    display: flex;
    position: fixed;
}

header .depth.fst {
    position: absolute;
    width: 100%; height: 100%;
}

header .depth.fst > p {
    display: none;
}

header .depth.snd {
    position: fixed;
    top: 28%; left: 31%;
    width: 30%; height: 72vh;
    flex-direction: column;
}

header .depth.snd > li {
    margin: 0;
    margin-bottom: 24px;
}

header .depth.snd > li > a {
    color: #eee;
    width: 100%;
    padding: 0;
    justify-content: center;
}

header .depth.snd > li > p {
    width: 100%;
}

header .depth.snd > li > a * {
    color: #eee;
}

.bot_nav.wrap i {
    display: none;
}

.top_nav.wrap a:hover {
    color: #eee;

}

header .depth.trd {
    position: absolute;
    top: 0; left: 103%;
    width: 100%; height: 72vh;
    overflow: auto;
}

header .depth.trd > li > ul {
    height: auto;
}

header .depth.trd > li > ul > li {
    margin: 0;
    margin-bottom: 24px;
}

header .depth.trd > li > ul > li * {
    color: #eee;
    padding: 0;
    justify-content: center;
}

/* sec================================================================================= */


section .contents {
    height: 120vh;
}

section .contents > div {
    height: 100%;
}

section .tap a {
    font-size: 1.2rem;
}

section .brochure > a {
    font-size: 1.5rem;
}

section .brochure {
    flex-direction: column;
}

section .brochure.width {
    flex-direction: row;
    height: 90vh;
}

section .brochure.width > a {
    height: 80%;
}

section .brochure > a {
    width: 65%;
    margin: 30px;
}