@import url(common_t.css);

.sec.fst .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec.fst .box.fst::after {
    width: 80%;
}

.sec.fst .box .inner {
    flex-direction: column;
    align-items: center;
}

.sec.fst .box .inner::after {
    display: none;
}

.sec.fst .box .img {
    width: 50%;
    align-items: center;
    margin: 12px 0;
}

.sec.fst .box .img img {
    width: 80%;
}

.sec.fst .box .img p {
    text-align: center;
}

.sec.fst .box .text.container {
    width: 100%;
}

.sec.fst .box .text.container p {
    width: auto;
}