.inner {
    width: 100%;
}

html {
    overflow: hidden;
}

/* header============================ */

header .top_nav.wrap  {
    width: 90vw; height: 100vh;
    padding-left: 10px;
    background: #0972CD;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    transform: translateX(100%);
    transition: 500ms;
}

header .top_nav.wrap.on {
    transform: translateX(0);
    transition: 500ms;
}

header .top_nav.wrap > li {
    width: 30%; height: 12%;
    margin: 6px;
    position: relative;
}

header .top_nav.wrap > li:hover .bot_nav.wrap {
    display: flex;
}

.top_nav.wrap > li .bot_nav.wrap {
    height: 100%;
}

header .bt {
    width: 60px; height: 60px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 10px; right: 10px;
    overflow: hidden;
    text-indent: -1000px;
    background: url(images/krcon/menu.svg) 50% 50% / contain no-repeat;
}

header .bt.on {
    background: url(images/krcon/close.svg) 50% 50% /contain no-repeat;
}

header .top_nav.wrap > li > a {
    color: #eee;
}

.bot_nav.wrap {
    position: absolute;
    display: none;
    top: 0px; left: 100%;
    overflow: visible;
    width: 100%; height: auto;
    z-index: 0;
    background: none;
}


header .depth.fst {
    position: absolute;
    width: 100%; height: 100%;
}

header .depth.fst > p {
    display: none;
}

header .depth.snd {
    position: absolute;
    top: 0; left: 5%;
    width: 100%; height: auto;
    flex-direction: column;
}

header .depth.snd > li {
    margin: 0;
    margin-bottom: 24px;
}

.top_nav.wrap > li:hover .bot_nav.wrap {
    height: 100%;
}

header .depth.snd > li > a {
    color: #eee;
}

header .depth.snd > li > a * {
    color: #eee;
}

.bot_nav.wrap i {
    display: none;
}

header .depth > li:hover > a * {
    color: #eee;
}

.top_nav.wrap a:hover {
    color: #eee;
}

header .depth.trd {
    position: absolute;
    top: 0; left: 105%;
    width: 100%; height: auto;
}

header .depth.trd > li > ul {
    height: auto;
}

header .depth.trd > li > ul > li {
    margin: 0;
    margin-bottom: 24px;
    height: 40px;
}

header .depth.trd > li > ul > li * {
    color: #eee;
}

header .top_nav.wrap > li, header .depth.snd > li, header .depth.trd > li > ul > li {
    outline: 1px solid #eee;
}