.inner {
    width: 100%;
}

/* header==================== */

header .top_nav.wrap > li:first-child div {
    padding: 6px;
}

header .top_nav.wrap::before {
    height: 61vh;
}

header .top_nav.wrap::after {
    height: 61vh;;
}

header .top_nav.wrap.width > li:first-child div:first-child > li > a > span {
    bottom: -6vh;
}

header .depth.snd {
    top: 39vh;
    height: 61vh;
}

header .depth.snd > li:hover > a {
    border: 6px solid #00000010;
}

header .depth.trd {
    top: 39vh;
    height: 61vh;
}

header .top_nav.wrap.width::before {
    height: 50.5vh;
}

header .top_nav.wrap.width::after {
    height: 50.5vh;
}

header .top_nav.wrap > li:first-child div > li {
    border-radius: 1vw;
}

header .top_nav.wrap.width .depth.snd {
    top: 49.5vh;
    height: 50.5vh;
}

header .top_nav.wrap.width .depth.trd {
    top: 49.5vh;
    height: 50.5vh;
}

/* sec1==================================================== */

.sec.fst > .inner {
    height: auto;
    padding: 24px 0;
}

.sec.fst .top {
    height: 120px;
    padding: 0 30px;
}

.sec.fst .top h2 {
    font-size: 1.5rem;
}

.sec.fst .page_depth li a {
    font-size: 1rem; font-weight: 100;
}

.sec.fst > .inner p {
    font-size: 1rem;
    padding: 0 30px;
}

.sec.fst .box .img {
    height: 60vh;
}

.sec.fst .box .img.width {
    height: 80vh;
}

.sec.fst .box .img p {
    font-size: 0.8rem;
}

.sec.fst .box .img span {
    font-size: 1rem; font-weight: 700;
}

.sec.fst .box.fst .img {
    background-size: 50%;
    background-position: 50% 25%;
}

.sec.fst .box.snd .img {
    background-size: 50%;
    background-position: 50% 25%;
}

.sec.fst .box .text.container h5 {
    font-size: 1.5rem;
}