@import url(common_t.css);

/* section1=========================================== */

.sec.fst .sldwrap {
    height: 400px;
}

.sec.fst .slider > .inner > :nth-child(1) {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.sec.fst .slider > .inner > :nth-child(2) {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 36px;
}

.sec.fst .slider > .inner > :nth-child(3) {
    font-weight: 100;
}

.sec.fst .slider.fth {
    position: relative;
    padding: 12px;
}

.sec.fst .slider.fth > div h2 {
    margin-bottom: 24px;
}

.sec.fst .slider.fth > img {
    position: absolute;
    top: 30px; right: 10px;
    padding: 0;
    height: 100px;
}

/* =========================================== */
/* section2================================ */

.sec.snd {
    padding: 30px 0;
    height: auto;
}

.sec.snd .inner {
    height: auto;
}

.sec.snd .wrap {
    flex-direction: column;
}

.sec.snd .depth {
    width: 100% !important;
    padding: 30px;
}

.sec.snd .depth h3 {
    margin-bottom: 36px;
}

.sec.snd .depth p {
    margin-top: 12px;
    margin-bottom: 36px;
}

.sec.snd .depth.snd {
    order: 3;
}

.sec.snd .depth.trd > div:first-child {
    height: 300px;
    background-size: cover !important;
    background-position: 50% 50% !important;
    padding: 24px;
}


/* section3 ===============================*/

.sec.trd .top h3 {
    font-size: 1.8rem;
}

.sec.trd .top.on h3 {
    font-size: 2.2rem;
}

.sec.trd .top p {
    font-size: 1rem;
}

.sec.trd .top.on p {
    font-size: 1.2rem;
}

.sec.trd > .inner {
    height: auto;
}

.sec.trd > .inner .wrap {
    flex-direction: column;
    height: auto;
}

.sec.trd .wrap > div {
    width: 60%;
    height: 420px;
    margin: 12px auto;
    justify-content: center;
    align-items: center;
}

.sec.trd .wrap > div h4 {
    font-size: 1.5rem;
}

.sec.trd > .inner > .bt {
    width: 50%;
}

/* ==================================== */
/* section4======================= */

.sec.fourth .inner {
    flex-direction: column;
    padding-left: 15px;
}

.sec.fourth .box.fst {
    width: 100%;
}

.sec.fourth .box.snd {
    width: 100%;
    height: auto;
}

/* section5============================ */

.sec.fifth img {
    width: 13vw;
}

/* aside====================================== */

aside {
    display: none;
}

.modalBG {
    display: none;
}