.inner {
    width: 80%;
}

/* header============================ */

body {
    overflow-x: hidden;
}

header .top_nav.wrap  {
    width: 90vw; height: 100vh;
    padding-left: 10px;
    background: #0972CD;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    transform: translateX(100%);
    transition: 500ms;
    overflow: hidden;
}

header .back {
    content: "";
    width: 100vw; height: 100vh;
    position: absolute;
    display: none;
    background: #000;
    opacity: 0.3;
    top: 0; left: 0;
    z-index: 0;
}

header .back.on {
    display: flex;
}

header .top_nav.wrap.on {
    transform: translateX(0);
    transition: 500ms;
}

header .top_nav.wrap > li {
    width: 30%; height: 12%;
    margin: 6px;
    position: relative;
}

header .top_nav.wrap > li:hover .bot_nav.wrap {
    display: flex;
}

.top_nav.wrap > li .bot_nav.wrap {
    height: 100%;
}

header .bt {
    width: 40px; height: 40px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 20px; right: 20px;
    overflow: hidden;
    text-indent: -1000px;
    background: url(../images/krcon/menu.svg) 50% 50% / contain no-repeat;
}

header .bt.on {
    background: url(../images/krcon/close.svg) 50% 50% /contain no-repeat;
}

header .top_nav.wrap > li > a {
    color: #eee;
}

.bot_nav.wrap {
    position: absolute;
    display: none;
    top: 0px; left: 100%;
    overflow: visible;
    width: 100%; height: auto;
    z-index: 0;
    background: none;
}


header .depth.fst {
    position: absolute;
    width: 100%; height: 100%;
}

header .depth.fst > p {
    display: none;
}

header .depth.snd {
    position: absolute;
    top: 0; left: 5%;
    width: 100%; height: auto;
    flex-direction: column;
}

header .depth.snd > li {
    margin: 0;
    margin-bottom: 24px;
}

.top_nav.wrap > li:hover .bot_nav.wrap {
    height: 100%;
}

header .depth.snd > li > a {
    color: #eee;
}

header .depth.snd > li > a * {
    color: #eee;
}

.bot_nav.wrap i {
    display: none;
}

header .depth > li:hover > a * {
    color: #eee;
}

.top_nav.wrap a:hover {
    color: #eee;
}

header .depth.trd {
    position: absolute;
    top: 0; left: 105%;
    width: 100%; height: auto;
}

header .depth.trd > li > ul {
    height: auto;
}

header .depth.trd > li > ul > li {
    margin: 0;
    margin-bottom: 24px;
    height: 40px;
}

header .depth.trd > li > ul > li * {
    color: #eee;
}

header .top_nav.wrap > li, header .depth.snd > li, header .depth.trd > li > ul > li {
    outline: 1px solid #eee;
}

/* ================================================== */
/* section1=========================================== */

.sec.fst .sldwrap {
    height: 400px;
}

.sec.fst .slider > .inner > :nth-child(1) {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.sec.fst .slider > .inner > :nth-child(2) {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 36px;
}

.sec.fst .slider > .inner > :nth-child(3) {
    font-weight: 100;
}

/* =========================================== */
/* section2================================ */

.sec.snd {
    padding: 30px 0;
    height: auto;
}

.sec.snd .inner {
    height: auto;
}

.sec.snd .wrap {
    flex-direction: column;
}

.sec.snd .depth {
    width: 100% !important;
    padding: 30px;
}

.sec.snd .depth h3 {
    margin-bottom: 36px;
}

.sec.snd .depth p {
    margin-top: 12px;
    margin-bottom: 36px;
}

.sec.snd .depth.snd {
    order: 3;
}

.sec.snd .depth.trd > div:first-child {
    height: 300px;
    background-size: cover !important;
    background-position: 50% 50% !important;
    padding: 24px;
}


/* section3 ===============================*/

.sec.trd .top h3 {
    font-size: 1.8rem;
}

.sec.trd .top.on h3 {
    font-size: 2.2rem;
}

.sec.trd .top p {
    font-size: 1rem;
}

.sec.trd .top.on p {
    font-size: 1.2rem;
}

.sec.trd > .inner {
    height: auto;
}

.sec.trd > .inner .wrap {
    flex-direction: column;
}

.sec.trd .wrap > div {
    width: 100%;
    height: 300px;
    margin: 12px auto;
}

.sec.trd .wrap > div h4 {
    font-size: 1.5rem;
}

.sec.trd .wrap > div p {
    padding: 60px;
}

.sec.trd > .inner > .bt {
    width: 50%;
}

/* ==================================== */
/* section4======================= */

.sec.fourth {
    height: auto;
    padding: 0;
}

.sec.fourth > .inner {
    flex-direction: column;
}

.sec.fourth .box {
    margin: 24px 0;
}

.sec.fourth .box.fst {
    width: 100%;
}

.sec.fourth .bar {
    margin: 0;
    padding: 24px 0;
}

.sec.fourth .bar h3 {
    font-size: 1.2rem;
}

.sec.fourth .box.snd ul a {
    font-size: 1rem;
}


/* section5============================ */

.sec.fifth img {
    width: 13vw;
}

