@charset "utf-8";
@import url(IE_common.css);

.is-ie .sec.fst > .inner h3::after {
    width: 3rem; height: 0.5rem;
}

.is-ie .sec.fst .box .img {
    width: 1920px;
}

@media all and ( max-width: 1280px ) {

    .is-ie .sec.fst .box .img {
        width: auto;
        background-size: 35% !important;
        background-position: 50% 30% !important;
    }

}

@media all and ( max-width: 680px ) {
    .is-ie .sec.fst .box .img {
        background-size: 60% !important;
    }
}