@import url(common_m.css);
/* section1======================================== */

.sec.fst .sldwrap .inner > p:last-child {
    font-size: 1.2rem;
}

.sec.fst .sldwrap {
    height: 300px;
}

.sec.fst .slider.fth > img {
    height: 50px;
}


/* section2====================== */

.sec.snd .depth.trd .bt {
    height: 80px;
}

.sec.snd .depth.trd .bt > a {
    font-size: 0.7rem;
}

/* section3======================== */

.sec.trd .top {
    height: 240px;
}

.sec.trd .top .inner {
    justify-content: space-around;
}

.sec.trd .wrap > div {
    width: 80%;
}

.sec.trd .wrap > div h4 {
    font-size: 1.2rem;
}

.sec.trd .wrap > div p {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.sec.trd > .inner > .bt {
    font-size: 1rem;
    width: 100%;
}

/* sec4============================================================================= */

.sec.fourth {
    padding: 0;
}

.sec.fourth .inner {
    padding: 0;
}

.sec.fourth .inner::after {
    left: -15px
}

.sec.fourth .stock > a span {
    white-space: nowrap;
}

/* section5============================== */

.sec.fifth {
    height: auto;
    margin: 30px 0;
}

.sec.fifth h3 {
    font-size: 2rem; 
}

.sec.fifth h4 {
    font-size: 0.8rem; font-weight: 100;
    margin-top: 30px;
}

.sec.fifth .imgWrap {
    flex-wrap: wrap;
    width: 100%;
}

.sec.fifth .imgWrap a {
    width: 50%;
    flex-shrink: 0;
}

.sec.fifth img {
    width: 100%;
}