html {
    font-size: 12px;
}

/* header==================== */

header .top_nav.wrap > li:first-child div {
    padding: 6px;
}

header .top_nav.wrap::before {
    height: 61vh;
}

header .top_nav.wrap::after {
    height: 61vh;;
}

header .top_nav.wrap.width > li:first-child div:first-child > li > a > span {
    bottom: -6vh;
}

header .depth.snd {
    top: calc(100vh - (61vh + 80px))
}

header .depth.snd > li:hover > a {
    border: 6px solid #00000010;
}

header .depth.trd {
    top: 39vh;
    height: 61vh;
}

header .top_nav.wrap.width::before {
    height: 50.5vh;
}

header .top_nav.wrap.width::after {
    height: 50.5vh;
}

header .top_nav.wrap > li:first-child div > li {
    border-radius: 1vw;
}

header .top_nav.wrap.width .depth.snd {
    top: calc(100vh - (50.5vh + 80px));
}

header .top_nav.wrap.width .depth.trd {
    top: 49.5vh;
    height: 50.5vh;
}

/* section1======================================== */

.sec.fst .sldwrap .inner > p:last-child {
    font-size: 1.2rem;
}

.sec.fst .sldwrap {
    height: 300px;
}

.sec.fst .slider.fth > img {
    height: 50px;
}


/* section2====================== */

.sec.snd .depth.trd .bt {
    height: 80px;
}

.sec.snd .depth.trd .bt > a {
    font-size: 0.7rem;
}

/* section3======================== */

.sec.trd .top {
    height: 240px;
}

.sec.trd .top .inner {
    justify-content: space-around;
}

.sec.trd .wrap > div {
    width: 80%;
}

.sec.trd .wrap > div h4 {
    font-size: 1.2rem;
}

.sec.trd .wrap > div p {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.sec.trd > .inner > .bt {
    font-size: 1rem;
    width: 100%;
}

/* sec4============================================================================= */

.sec.fourth {
    padding: 0;
}

.sec.fourth .inner {
    padding: 0;
}

.sec.fourth .inner::after {
    left: -15px
}

/* section5============================== */

.sec.fifth {
    height: auto;
    margin: 30px 0;
}

.sec.fifth h3 {
    font-size: 2rem; 
}

.sec.fifth h4 {
    font-size: 0.8rem; font-weight: 100;
    margin-top: 30px;
}

.sec.fifth .imgWrap {
    flex-wrap: wrap;
    width: 100%;
}

.sec.fifth .imgWrap a {
    width: 50%;
    flex-shrink: 0;
}

.sec.fifth img {
    width: 100%;
}