@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto sans KR font */
@import url('krconIeStyle.css');

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* fade in out animation */

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'sans-serif';
    text-decoration: none;
    list-style-type: none;
    color: #333;
    /* outline: 1px solid red; */
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.inner > h2 {
    display: none;
}

/* ----------------------header------------------------ */

header {
    position: sticky;
    top: 0;
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #fff;
    transition-duration: 0.4s;
    z-index: 100;
}

header * {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .top_nav.wrap > li {
    width: 150px; height: 100%;
}

header .bt {
    display: none;
}

header .logo {
    width: 180px;
    text-indent: -1000px;
    overflow: hidden;
    background: url(../images/krcon/logo_01.jpg) 50% 50% no-repeat;
    background-size: contain;
}

header a {
    width: 100%; height: 100%;
    justify-content: space-between;
    padding: 0 10px;
}

.bot_nav.wrap {
    position: absolute;
    top: 80px; left: 0;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    height: 0;
    z-index: 0;
    transition: height 500ms;
    background: rgba(250, 250, 250, 1);
}

.bot_nav.wrap i {
    width: 20px; height: 20px;
    background: url(../images/krcon/SVG/plus.svg) 50% 50% no-repeat;
    background-size: contain;
}    

header .depth > li:hover i {
    background: url(../images/krcon/SVG/minus.svg);
    background-size: contain;
}

header .depth > li:hover > a * {
    color: #0972CD;
}

.bot_nav.wrap * {
    color: #333;
}    

.top_nav.wrap > li > a {
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: center;
}    

.top_nav.wrap > li:hover .bot_nav.wrap {
    display: flex;
    height: 400px;
}

.top_nav.wrap a:hover {
    color: #0972CD;
}

.top_nav.wrap li:hover > a span {
    color: #0972CD;
}

header .depth::after {
    content: "";
    width: 2px; height: 100%;
    background-color: #0972CD; 
    opacity: 0.5;
    position: absolute;
    top: 0; left: 0;
}

header .depth.fst {
    position: relative;
    top: 0; left: 0;
    width: 480px; height: 400px;
}

header .depth.fst > p {
    position: absolute;
    top: 40px; left: 120px;
    font-size: 2.2rem;
    font-weight: 300;
}

header .depth.snd {
    position: relative;
    left: 100%;
    width: 300px; height: 400px;
    flex-direction: column;
    justify-content: flex-start;
}

header .depth.snd * {
    font-weight: 300;
}

header .depth.snd > li > a {
    padding: 0 24px;
}

header .depth.trd a {
    padding: 0 24px;
}

header .depth.snd > li {
    display: inline-block;
    width: 100%; height: 40px;
    margin: 10px 0;
}

header .depth.snd > li:hover .depth.trd {
    display: flex;
}

header .depth.trd {
    position: absolute;
    top: 0; left: 100%;
    width: 300px; height: 400px;
    display: none;
}

header .depth.trd > li {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header .depth.trd > li > ul {
    width: 100%; height: 400px;
    flex-direction: column;
    justify-content: flex-start;
}

header .depth.trd > li > ul > li {
    margin: 10px 0;
    width: 100%; height: 30px;
}

/* ===================sec1==================== */
.sec.fst .sldwrap {
    width: 100%; height: 600px;
}

.sec.fst .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sec.fst .slider > .inner {
    height: auto;
}

.sec.fst .slider > .inner > :nth-child(n) {
    color: #eee;
}

.sec.fst .slider > .inner > :nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.sec.fst .slider > .inner > :nth-child(2) {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.sec.fst .slider > .inner > :nth-child(3) {
    font-size: 1.5rem;
    font-weight: 100;
}

.sec.fst .slider.fst {
    background: rgba(0, 0, 0, 0.6) url(../images/krcon/slide_1.jpg) 50% 50% no-repeat;
    background-blend-mode: darken;
    background-size: cover;
}

.sec.fst .slider.snd {
    background: rgba(0, 0, 0, 0.6) url(../images/krcon/slide_2.jpg) 50% 50% no-repeat;
    background-blend-mode: darken;
    background-size: cover;
}

.sec.fst .slider.trd {
    background: rgba(0, 0, 0, 0.6) url(../images/krcon/slide_3.jpg) 50% 50% no-repeat;
    background-blend-mode: darken;
    background-size: cover;
}

.sec.fst .slider.fth {
    background: url(../images/krcon/elif_bg.jpg) 50% 50% / cover no-repeat;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
}

.sec.fst .slider.fth > div span {
    font-size: 2rem; font-weight: 300;
    color: #fff;
}

.sec.fst .slider.fth > div h2 {
    font-size: 3rem; font-weight: 400;
    color: #fff;
    margin-bottom: 60px;
}

.sec.fst .slider.fth > div p {
    font-size: 1.2rem; font-weight: 200;
    color: #fff;
}

/* sec2---------------------------------------------------- */

.sec.snd, .sec.snd * {
    display: flex;
}

.sec.snd {
    height: 800px;
    align-items: center;
}

.sec.snd h2 {
    font-size: 4rem;
    margin-bottom: 18px;
    position: relative;
    display: inline-block;
}

.sec.snd h2:after {
    content: "";
    width: 100%; height: 3px;
    background: #0972CD;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sec.snd .inner {
    flex-direction: column;
    height: 540px;
    position: relative;
}

.sec.snd .wrap {
    height: 100%;
    position: relative;
    justify-content: space-between;
}

.sec.snd .depth {
    padding: 24px;
}

.sec.snd .depth h3 {
    font-size: 1.5rem;
}

.sec.snd .depth  p {
    font-size: 1.2rem;
    text-align: justify;
}

.sec.snd .depth.fst {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
}

.sec.snd .depth.snd {
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    background: #ccc;
}

.sec.snd .depth.snd > div {
    flex-direction: column;
}

.sec.snd .depth.snd > div > span {
    align-self: center;
    margin: 6px 0 12px ;
}

.sec.snd .depth.snd > :last-child > :last-child {
    justify-content: flex-end;
}


.sec.snd .depth.snd > :last-child a {
    width: 180px;
    padding: 6px 12px;
    justify-content: space-between;
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 100;
}

.sec.snd .depth.snd > :last-child > a > i {
    width: 48px; height: 18px;
    margin: 10px;
    background: url(../images/krcon/arrow.svg) 50% 50% / contain no-repeat;
}

.sec.snd .depth.trd {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 500px;
}

.sec.snd .depth.trd > div:first-child {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%; height: 100%;
    padding: 60px 24px;
    transition: 500ms;
}

.sec.snd .depth.trd > div:first-child h4 {
    font-size: 1.5rem;
    font-weight: 100;
    text-shadow: 2px 2px 4px #333;
    color: #eee;
    padding: 4px 8px;
    background:rgba(0, 0, 0, 0.3);

}

.sec.snd .depth.trd .bt {
    height: 120px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sec.snd .depth.trd .bt > a {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 0;
}

.sec.snd .depth.trd .bt > a:hover {
    text-decoration: underline;
}

.sec.snd .depth.trd .bt > a.on {
    background: #0972CD22;
    text-decoration: underline;
}

.sec.snd .depth.trd .bt > a i {
    opacity: 0.5;
}

.sec.snd .depth.trd .bt > a.on i {
    opacity: 1;
}

.sec.snd .depth.trd .bt > a:nth-child(1) i {
    display: inline-block;
    width: 80%; height: 60%;
    background: url(../images/krcon/construction.png) 50% 50% no-repeat;
    background-size: contain;

}

.sec.snd .depth.trd .bt > a:nth-child(2) i {
    display: inline-block;
    width: 80%; height: 60%;
    background: url(../images/krcon/house.png) 50% 50% no-repeat;
    background-size: contain;

}

.sec.snd .depth.trd .bt > a:nth-child(3) i {
    display: inline-block;
    width: 80%; height: 60%;
    background: url(../images/krcon/civilE.png) 50% 50% no-repeat;
    background-size: contain;

}

.sec.snd .depth.trd .bt > a:nth-child(4) i {
    display: inline-block;
    width: 80%; height: 60%;
    background: url(../images/krcon/global.png) 50% 50% no-repeat;
    background-size: contain;

}

.sec.snd .depth.trd .bt > a:nth-child(5) i {
    display: inline-block;
    width: 80%; height: 60%;
    background: url(../images/krcon/plant.png) 50% 50% no-repeat;
    background-size: contain;

}

.sec.snd .depth.trd .bt > a:nth-child(6) i {
    display: inline-block;
    width: 80%; height: 60%;
    background: url(../images/krcon/indC.png) 50% 50% no-repeat;
    background-size: contain;

}

.sec.snd .depth.trd .bt > a:nth-child(7) i {
    display: inline-block;
    width: 80%; height: 60%;
    background: url(../images/krcon/leiL.png) 50% 50% no-repeat;
    background-size: contain;

}

/* sec3============================================================================================= */

.sec.trd * {
    display: flex;
}

.sec.trd {
    position: relative;
}

.sec.trd::after {
    content: "";
    background: #33333330;
    width: 100%; height: 100%;
    position: absolute;
    animation: fadeout 1s;
    opacity: 0;
    top: 0;
}

.sec.trd.img1::after {
    background: url(../images/krcon/recruit_01b.jpg) 50% 50% / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode:darken;
    animation: fadein 1s;
    opacity: 1;
}

.sec.trd.img2::after {
    background: url(../images/krcon/recruit_02b.jpg) 50% 50% / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode:darken;
    animation: fadein 1s;
    opacity: 1;
}

.sec.trd.img3::after {
    background: url(../images/krcon/recruit_03.jpg) 50% 50% / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode:darken;
    animation: fadein 1s;
    opacity: 1;
}

.sec.trd .top {
    width: 100%; height: 240px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.sec.trd .top::before {
    content: "";
    background: url(../images/krcon/top5.jpg) 50% 50% / cover no-repeat;
    width: 100%; height: 100%;
    position: absolute;
    animation: fadein 1s;
    opacity: 1;
}

.sec.trd .top.on::before {
    animation: fadeout 1s;
    opacity: 0;
}

.sec.trd .top .inner {
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.sec.trd .top h3 {
    font-size: 2rem; font-weight: 400;
    text-shadow: 4px 4px 4px #333;
    color: #eee;
    transition: 500ms
}

.sec.trd .top.on h3 {
    font-size: 2.5rem;
    transition: 500ms;
}

.sec.trd .top p {
    font-size: 1.2rem; font-weight: 100;
    text-shadow: 2px 2px 8px #333;
    color: #eee;
    transition: 500ms;
}

.sec.trd .top.on p {
    font-size: 1.5rem;
    transition: 500ms;
}

.sec.trd > .inner {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 30px 0;
    height: 600px;
    position: relative;
    z-index: 10;
}

.sec.trd > .inner > .bt {
    width: 33%; height: 60px;
    margin-top: 24px; padding: 4px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem; font-weight: 100;
    color: #333;
}

.sec.trd > .inner > .bt i {
    background: url(../images/krcon/arrow.svg) 50% 50% / contain no-repeat;
    width: 30%; height: 50%;
}

.sec.trd.on > .inner > .bt i {
    background: url(../images/krcon/arrow1.svg) 50% 50% / contain no-repeat;
}

.sec.trd.on > .inner > .bt {
    color: #eee;
    transition: 500ms;
    background: rgba(0, 0, 0, 0.3);
}

.sec.trd .wrap {
    width: 100%; height: 85%;
    justify-content: space-between;
}

.sec.trd .wrap > div {
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0972cd2d;
    overflow: hidden;
    padding: 12px 0;
}

.sec.trd .wrap > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec.trd .wrap > div h4 {
    font-size: 1.5rem; font-weight: 100;
    letter-spacing: 0.5rem;
}

.sec.trd .wrap > div i {
    width: 72px; height: 72px;
    margin-bottom: 42px;
}

.sec.trd.on .wrap > div {
    background: none;
}

.sec.trd.on .wrap > div i {
    width: 180px; height: 180px;
    transition: 500ms;
}

.sec.trd.on .wrap > div.on i {
    width: 42px; height: 42px;
    margin-bottom: 12px;
    transition: 500ms;
}

.sec.trd.on .wrap > div.on h4 {
    font-size: 1rem;
}

.sec.trd .wrap > div:nth-child(1) i {
    background: url(../images/krcon/unity.png) 50% 50% / contain no-repeat;
}

.sec.trd .wrap > div:nth-child(2) i {
    background: url(../images/krcon/creation.png) 50% 50% / contain no-repeat;

}

.sec.trd .wrap > div:nth-child(3) i {
    background: url(../images/krcon/responsibility.png) 50% 50% / contain no-repeat;
}

.sec.trd.on .wrap > div:nth-child(1) i {
    background: url(../images/krcon/unity1.png) 50% 50% / contain no-repeat;
}

.sec.trd.on .wrap > div:nth-child(2) i {
    background: url(../images/krcon/creation1.png) 50% 50% / contain no-repeat;

}

.sec.trd.on .wrap > div:nth-child(3) i {
    background: url(../images/krcon/responsibility1.png) 50% 50% / contain no-repeat;
}

.sec.trd .wrap > div > p {
    display: flex;
    overflow: hidden;
    width: 100%; height: 0px; 
    font-size: 1.2rem; font-weight: 100;
    align-items: center;
    line-height: 3rem;
    color: #eee;
    text-align: justify;
    transition: 0.5s;
    word-break: keep-all;
}

.sec.trd .wrap > div.on {
    transition: 0.5s;
    background: #0972CD;
}

.sec.trd .wrap > div.on > p {
    height: 80%;
    transition: 0.5s;
    padding: 24px;
}

.sec.trd.on .wrap > div h4 {
    color: #eee;
    transition: 0.5s;
}

/* section4============== */

.sec.fourth {
    padding: 30px;
    display: flex;
    align-items: center;
}

.sec.fourth .inner {
    display: flex;
    position: relative;
    padding-left: 8px;
}

.sec.fourth .inner::after {
    content: "";
    width: 8px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: #0972CD;
}

.sec.fourth .box.fst {
    width: 39%;
    display: flex;
}

.sec.fourth .box.fst .tBox {
    width: 100%;
    padding: 12px 0;
}

.sec.fourth .box.fst ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 36px;
}

.sec.fourth .box.fst ul li {
    list-style-type: disc;
}

.sec.fourth .box.fst ul a {
    font-size: 1.3rem; font-weight: 100;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec.fourth .box.fst ul li:hover a {
    text-decoration: underline;
}

.sec.fourth .box.snd {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.sec.fourth .box.snd .sec4sld {
    width: 100%;
}

.sec.fourth .slider img {
    width: 100%; height: 100%;
}

.sec.fourth h3 {
    font-size: 1.5rem;
}

.sec.fourth .stock {
    display: flex;
    align-items: center;
    height: 25%;
    outline: 1px solid #333;
    margin-top: 24px;
}

.sec.fourth .stock .contain {
    width: 90%; height: 100%;
    display: flex;
}

.sec.fourth .stock .contain > div:first-child {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    justify-content: space-around;
}

.sec.fourth .stock .contain > div:last-child {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 65%;
    position: relative;
    margin-top: 24px;
}

.sec.fourth .stock .contain > div:last-child > span {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.5rem;
}

.sec.fourth .stock .contain > div:last-child > span::before {
    display: inline-block;
    position: absolute;
    top: -2rem;
    font-size: 1.2rem;
}

.sec.fourth .stock .contain > div:last-child > span:nth-child(1)::before {
    content: "종가";
}

.sec.fourth .stock .contain > div:last-child > span:nth-child(2)::before {
    content: "대비";
}

.sec.fourth .stock .contain > div:last-child > span:nth-child(3)::before {
    content: "등락률";
}

.sec.fourth .stock > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.sec.fourth .stock > a:hover {
    background: #0972CD33;
}

.sec.fourth .stock > a:hover span {
    text-decoration: underline;
}

.sec.fourth .stock > a > i {
    width: 42px; height: 42px;
    display: flex;
    background: url(../images/krcon/diagram.png) 50% 50% / contain no-repeat;
}

.rise {
    color: red;
}

.decline {
    color: blue;
}

/* section5===================================================== */

.sec.fifth {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec.fifth .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec.fifth h3 {
    font-size: 2.5rem; 
}

.sec.fifth h4 {
    font-size: 1.2rem; font-weight: 100;
    margin-top: 30px;
}

.sec.fifth .imgWrap {
    display: flex;
    margin-top: 60px;
}

.sec.fifth .imgWrap a {
    display: flex;
    align-items: center;
}

.sec.fifth img {
    width: 200px;
}

/* ----------------footer----------------------- */

footer {
    padding: 30px;
    background-color: #333;
}

footer * {
    color: #eee;
    font-weight: 200;
}

footer .ftlogo {
    text-indent: -1000px;
    overflow: hidden;
    width: 120px; height: 40px;
    padding: 10px;
    background: url(../images/krcon/footer-logos.png) 50% 50% no-repeat;
    background-size: contain;
}

/* aside================================================== */

aside {
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 24px;
    top: 50%; left: 0;
    background: #33333333;
    transition: 0.5s;
    z-index: 100;
    opacity: 0.5;
}

aside:hover {
    background: #333;
    opacity: 1;
}

aside h4 {
    color: #eee;
    font-size: 2rem;
    margin-bottom: 24px;
}

aside a {
    margin-left: 24px;
    position: relative;
    margin-top: 6px;
    display: flex;
    align-items: center;
}

aside a::before {
    content: "";
    width: 6px; height: 6px;
    background-color: #0972CD;
    position: absolute;
    left: -10%;
}

aside a:hover {
    text-decoration: underline;
}

aside:hover a {
    color: #aaa;
    transition: 0.5;
}

/* modal========================================================= */

.modalBG {
    position: fixed;
    top: 0; left: 0;
    background: #00000033;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%; height: 100%;
    z-index: 1000;
}

.modalBG.off {
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #eee;
    flex-direction: column;
    z-index: 1100;
    outline: 2px solid #22222222;
}

.modal p {
    margin-bottom: 42px;
}

.modal a {
    padding: 6px 24px;
    outline: 1px solid #333;
}

.modal a:hover {
    outline: 3px solid #666;
}