@charset "utf-8";


/* header */

.is-ie header {
    position: relative;
    z-index: 50;
}

.is-ie header .bt.on {
    position: fixed;
}

/* sec1 */

.is-ie .sec.fst .slide {
    height: 480px;
    z-index: 5;
}

.is-ie .slick-list {
    height: 100%;
}

.is-ie .slick-track {
    height: 100%;
}

.is-ie .slick-track > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.is-ie .slick-track > div > .inner {
    width: 1200px;
}


.is-ie .slick-track > div > .inner > :nth-child(n) {
    color: #eee;
}

.is-ie .slick-track > div > .inner > :nth-child(1) {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.is-ie .slick-track > div > .inner > :nth-child(2) {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.is-ie .slick-track > .fst {
    background: url(../images/krcon/slide_1.jpg)50% 50% / cover no-repeat;
}

.is-ie .slick-track > .snd {
    background: url(../images/krcon/slide_2.jpg)50% 50% / cover no-repeat;
}

.is-ie .slick-track > .trd {
    background: url(../images/krcon/slide_3.jpg)50% 50% / cover no-repeat;
}

.is-ie .slick-track > .fth {
    background: url(../images/krcon/elif_bg.jpg)50% 50% / cover no-repeat;
    display: flex;
    justify-content: space-between;
}

.is-ie .slick-track > .fth > div {
    padding-left: 30px;
}

.is-ie .slick-track > .fth > img {
    padding-right: 30px;
}

.is-ie .slick-track > .fth span {
    color: #eee;
    font-size: 1.5rem;
}

.is-ie .slick-track > .fth h2 {
    color: #eee;
    font-size: 3.5rem;
    margin: 12px 0 24px 0;
}

.is-ie .slick-track > .fth p {
    color: #eee;
    font-size: 1.2rem;
}

/* sec2================================================== */

.is-ie .sec.snd .depth p {
    width: 100%;
}

.is-ie .sec.snd .depth.trd .bt > a {
    width: 60px;
}

.is-ie .sec.snd .depth.trd .bt > a.on {
    background: rgba(0, 51, 139, 0.181)
}

/* sec3================================================================================================ */

.is-ie .sec.trd .top::before {
    top:0;
}

/* sec4================================================================================================ */

.is-ie .sec.fourth .box.fst ul {
    height: 100%;
    padding: 42px 36px;
}

.is-ie .sec.fourth .slide {
    height: auto;
}

.is-ie .sec.fourth .box.fst {
    width: 60%;
}

.is-ie .sec.fourth .slick-track > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-ie .sec.fourth .slick-track > div img {
    width: 100%; height: 100%;
}

.is-ie .sec.fourth .slick-track > .fth {
    background: none;
}

.is-ie .sec.fourth .box.snd .bar h3 {
    writing-mode: tb-lr;
}

.is-ie .sec.fourth .box.snd ul li {
    list-style-type: none;
}

.is-ie .sec.fourth .stock {
    height: auto;
}

@media (max-width: 1240px) {

    .is-ie header .top_nav.wrap > li:first-child div > li > a {
        justify-content: flex-start;
    }

    .is-ie header .top_nav.wrap > li:first-child div > li:nth-child(2) > a span {
        margin-left: -20px;
    }

    .is-ie header .top_nav.wrap > li:first-child div:last-child > li {
        outline: none;
    }

    .is-ie header .depth.snd > li::before {
        display: none;
    }

    .is-ie header .depth.snd > li::after {
        display: none;
    }

    .is-ie header .depth.trd > li > ul > li a::before {
        display: none;
    }

    .is-ie header .depth.trd > li > ul > li a::after {
        display: none;
    }

    .is-ie header .top_nav.wrap.width .depth.trd {
        position: absolute;
        top: 0; left: 100%;
        width: 187%;
        overflow: visible;
    }

    .is-ie .sec.fst .slide {
        height: 600px;
    }

    .is-ie .sec.snd .depth.trd .bt > a {
        width: 100px;
    }

    .is-ie header .overay {
        position: fixed;
    }

    .is-ie header .top_nav.wrap.on {
        position: fixed;
    }

    .is-ie header .depth.snd {
        top: 210px;
    }

    .is-ie .sec.fourth .box.fst {
        width: 100%;
    }

    .is-ie .sec.fourth .box.snd {
        flex-direction: column;
    }

    .is-ie .sec.fourth .bar {
        width: auto;
    }

    .is-ie .sec.fourth .box.snd .bar h3 {
        writing-mode: lr-bt;
    }
    
    .is-ie .slick-track > .fth {
        position: relative;
    }
    
    .is-ie .slick-track > .fth > img {
        position: absolute;
        top: 30px; right: 10px;
        height: 60px;
        padding: 0;
        height: 120px;
    }

}

@media all and ( max-width: 680px ) {

    html {
        font-size: 10px;
    }

    .is-ie header .depth.snd {
        left: 48.5%;
    }

    .is-ie header .depth.trd {
        left: 99%;
    }

    .is-ie .slick-track > .fth > img {
        height: 40px;
    }

    .is-ie .sec.fst .slide {
        height: 300px;
    }

    .is-ie .sec.snd .depth.trd .bt > a {
        font-size: 1.3rem;
    }

    .is-ie .sec.trd .top h3 {
        font-size: 2rem;
    }

    .is-ie .sec.trd .top p {
        font-size: 1rem;
    }

    .is-ie .sec.trd .wrap > div:hover p {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}