.inner {
    width: 80%;
}

html {
    font-size: 10px;
}

/* header============================ */

body {
    overflow-x: hidden;
}

header .top_nav.wrap  {
    width: 70vw; height: 100vh;
    background: #0972CD;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    transform: translateX(100%);
    transition: 500ms;
    overflow: hidden;
    justify-content: flex-end;
}

header .overay {
    content: "";
    width: 100vw; height: 100vh;
    position: absolute;
    display: none;
    background: #000;
    opacity: 0.3;
    top: 0; left: 0;
    z-index: 0;
}

header .overay.on {
    display: flex;
}

header .top_nav.wrap.on {
    transform: translateX(0);
    transition: 500ms;
}

header .bt {
    width: 40px; height: 40px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 20px; right: 20px;
    overflow: hidden;
    text-indent: -1000px;
    background: url(../images/krcon/menu.svg) 50% 50% / contain no-repeat;
}

header .bt.on {
    background: url(../images/krcon/close.svg) 50% 50% /contain no-repeat;
}

header .top_nav.wrap > li {
    border: 1px solid #eee;
}

header .depth.snd > li {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    padding: 0 5px;
}

header .depth.snd > li:hover > a {
    background: #999;
    border: 12px solid #00000010;
}

header .depth.snd > li:first-child {
    margin-top: 10px;
}

header .depth.snd > li::before {
    content: "";
    display: flex;
    position: absolute;
    width: 80%; height: 2px;
    background: #fff;
    top: -5px;
}

header .depth.snd > li::after {
    content: "";
    display: flex;
    position: absolute;
    width: 80%; height: 2px;
    background: #fff;
    bottom: -5px;
}

header .top_nav.wrap > li > a {
    color: #999;
    font-size: 2.5rem;
}

header .top_nav.wrap > li:hover > a {
    color: #333;
}

header .top_nav.wrap > li {
    position: fixed;
    border-radius: 3vw;
}

header .top_nav.wrap > li:nth-child(1) {
    top: 15vh; left: 3vw;
    width: 20vw; height: 20vw;
    border: none;
    background: url(../images/krcon/Introduce.png)50% 50% / contain no-repeat;
}

header .top_nav.wrap.width > li:nth-child(1) {
    top: 12vh; left: 8vw;
    width: 15vh; height: 15vh;
}

header .top_nav.wrap > li:nth-child(1) > a  {
    position: relative;
}

header .top_nav.wrap > li:nth-child(n) > a > span {
    position: absolute;
    bottom: -4.5rem;
    font-weight: 500;
    color: #eee;
}

header .top_nav.wrap > li:nth-child(2) {
    top: 15vh; left: 25vw;
    width: 20vw; height: 20vw;
    border: none;
    background: url(../images/krcon/investment.png)50% 50% / contain no-repeat;
}

header .top_nav.wrap.width > li:nth-child(2) {
    top: 12vh; left: 30vw;
    width: 15vh; height: 15vh;
}

header .top_nav.wrap.width > li:nth-child(2) span {
    bottom: -8rem;
}

header .top_nav.wrap > li:nth-child(2) > a  {
    position: relative;
}

header .top_nav.wrap > li:nth-child(3) {
    top: 15vh; right: 3vw;
    width: 20vw; height: 20vw;
    border: none;
    background: url(../images/krcon/promotion.png)50% 50% / contain no-repeat;
}

header .top_nav.wrap.width > li:nth-child(3) {
    top: 12vh; right: 8vw;
    width: 15vh; height: 15vh;
}

header .top_nav.wrap > li:nth-child(3) > a  {
    position: relative;
}

header .top_nav.wrap > li:nth-child(1):hover, header .top_nav.wrap > li:nth-child(2):hover, header .top_nav.wrap > li:nth-child(3):hover {
    outline: 4px solid #fff;
}

header .top_nav.wrap > li:nth-child(4) {
    top: 44vh; left: 10vw;
    width: 20vw; height: 6vw;
}

header .top_nav.wrap > li:nth-child(5) {
    top: 44vh; right: 10vw;
    width: 20vw; height: 6vw;
}

header .top_nav.wrap.width > li:nth-child(4), header .top_nav.wrap.width > li:nth-child(5) {
    top: 40.2vh;
}

header .top_nav.wrap > li:nth-child(4):hover, header .top_nav.wrap > li:nth-child(5):hover {
    background: #fff;
}

header .top_nav.wrap > li:nth-child(6) {
    position: fixed;
    top: 25px; right: 120px;
    width: 40px; height: 30px;
    border-radius: 0;
}

header .top_nav.wrap > li:nth-child(6) a {
    font-size: 1.5rem; font-weight: 400;
    color: #ddd;
}

header .top_nav.wrap > li:nth-child(7) {
    position: fixed;
    top: 50vh; left: 0;
    width: 25vw; height: 50vh;
    border-radius: 0;
    border: none;
    background: #ccc;
    z-index: -1;
}

header .top_nav.wrap > li:nth-child(8) {
    position: fixed;
    top: 50vh; right: 0;
    width: 45vw; height: 50vh;
    border-radius: 0;
    border: none;
    background: #aaa;
    z-index: -1;
}

header .top_nav.wrap > li:nth-child(9) {
    position: fixed;
    top: 80px; right: 0;
    width: 70vw; height: 35vh;
    border-radius: 0;
    border: none;
    background: #02B5E3;
    z-index: -1;
}

header .top_nav.wrap.width > li:nth-child(9) {
    height: 28vh;
}

.top_nav.wrap > li:hover .bot_nav.wrap {
    height: 0;
}

header .depth::after {
    display: none;
}

header .top_nav.wrap > li:hover .bot_nav.wrap {
    display: flex;
    position: fixed;
}

header .top_nav.wrap > li .depth.snd {
    display: none;
}

.bot_nav.wrap i {
    display: none;
}

header .top_nav.wrap > li:hover .depth.snd {
    display: flex;
}

header .depth.fst {
    position: absolute;
    width: 100%; height: 100%;
}

header .depth.fst > p {
    display: none;
}

header .depth.snd {
    position: fixed;
    top: 50vh; left: 0;
    width: 25vw; height: 50vh;
    flex-direction: column;
}

header .depth.snd > li > a {
    color: #eee;
    font-size: 2rem;
    width: 100%;
    padding: 0;
    justify-content: center;
}

header .depth.snd > li > p {
    width: 100%;
}

header .depth.snd > li > a * {
    color: #eee;
}

header .depth.trd {
    position: absolute;
    top: 0; left: 100%;
    width: 45vw; height: 72vh;
    overflow: auto;
}

header .depth.trd > li > ul {
    position: fixed;
    top: 50vh; right: 0;
    width: 45vw; height: 50vh;
}

header .depth.trd > li > ul > li {
    margin: 0;
    margin-bottom: 6px;
    height: 40px;
    position: relative;
}

header .depth.trd > li > ul > li::before {
    content: "";
    position: absolute;
    display: flex;
    width: 80%; height: 1px;
    background: #000;
    bottom: -6px;
}

header .depth.trd > li > ul > li * {
    color: #666;
    font-size: 2rem;
    padding: 0;
    justify-content: center;
}

header > div:last-child {
    /* display: flex; */
    position: fixed;
    background: #aaa;
    top: 50vh; left: 30vw;
    width: 30%; height: 50vh;
}