@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto sans KR font */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* font-awsome v6.1.1 */


* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    list-style-type: none;
    text-decoration: none;
    /* outline: 1px solid #000; */
}

section {
    height: calc(100vh - 120px);
    display: flex; flex-direction:column; justify-content: center;
}



/* 헤더 */
header { display: flex; background: #000; justify-content: space-between; padding: 12px 60px; position: sticky; top:0; z-index: 10; height: 120px; }

/* header 의 height 140px 에서 120px로 수정 */

header .logo { display: flex; flex-direction: column; justify-content: center; align-items: center; }

header .logo span:first-child { font-size: 2.5rem; color: #eee; font-weight: 900; }

header .logo span:last-child { font-size: 0.8rem; color: #eee; }

header > ul { display: flex; align-self: center; }

header .top.nav { display: flex; }

header .menu { display: none; text-indent: -500px; background: url(../images/supermix/menu.svg) 50% 50% no-repeat; overflow: hidden; width: 60px; height: 60px; background-size: cover; }

header .top.nav a { font-size: 1.3rem; color: #eee; padding: 6px 12px; margin: 0 6px; display: inline-block; margin: 0 12px; }

header .top.nav li:hover a { color: #abd; border-color: #abd; }
/* 헤더 */





/* 섹션 1 */

.img {background: url(../images/supermix/controlroom/sec1_main_img.jpg) 50% 50% no-repeat; background-size: cover; }

/* height값 부여 하고 861px 에서 900px 로 변경 */

/* 섹션 1 */




/*sec2*/
.sec2 {
    /* height: 1000px; */
    display: flex;
}

.sec2 .inner1200 {
    width: 1200px;
    display: flex;
}

.sec2_title {
    font-size: 50px;
    font-weight: bold;
    margin: 40px 0 40px 0;
}

.profile_img {
    width: 420px;
    height: 360px;
    background: url(../images/supermix/khj.png) no-repeat;
}

.right_n1 {
    margin: 140px 50px 0 10px;
}

.sec2_intro {
    font-size: 14px;
}

.sec2_main {
    font-size: 12px;
    margin: 40px 0 0 0;
}

/* intro,main font-size 15px 에서 14px 로 변경 */

.sec2_main span {
    font-size: 20px;
    font-weight: bold;
}




/* 섹션 3 */

.port .inner1200 {width: 1200px;}

.port { background: #333; display: flex; flex-direction:column; justify-content: center;}

.port h2 { color: #eee; font-size: 3rem; margin-bottom: 24px; }

.port h3 { color: #eee; font-size: 2rem; }

.port .sub_title { margin-bottom: 24px; }

.port .bt * { margin: 0; }


.port .container { display: flex; margin: 0px; }

.port .bt a:first-child::after { content: ""; margin: 0 12px; display: inline-block; width: 1px; height: 2rem; background: #eee; align-self: center; }

.port .bt.container a:last-child { display: inline-block;}

.port .contents { overflow: hidden; }

.port .contents > li { height: 100%; width: 1200px; }

.port .contents .box li a { width: 100%; height: 100%; display: block; }

.port .box { width: 1200px; height: 50vh; display: flex; flex-wrap: wrap; }

/* .port .Album { gap: 12% 4%; } */

.port .Album li { width: 100%; height: 100%; }

/* .port .YW { gap: 12% 5%; } */

.port .YW li { width: 100%; height: 100%; }







/*sec4*/
.sec4 {
    /* height: 1000px; */
    background: #EDEDED;
}

.sec4 .inner1200 {
    width: 1200px;
}

.sec4_title {
    font-size: 50px;
    font-weight: bold;
    padding: 40px 0 0 0;
    margin: 0 0 24px 0;
}

.sec4 ul {
    display: flex;
    width: 721px;
    margin: 0 0 20px 0;
}

.sec4 ul li {
    list-style: none;
    position: relative;
    margin: 0 20px 0 0;
}

.sec4 ul li::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    width: 1px;
    height: 25px;
    background: #000;
}

.sec4 ul li:last-child::after {
    display: none;
}

.sec4 ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

/* ul li a font-size 30px 에서 25px 로 변경 */

.sec4_content_box {
    display: flex;
    align-items: center;
}

.left_bt {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.right_bt {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.control_room {
    width: 870px;
    height: 670px;
}

.control_page1 {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.control_page1 .img_1 {
    width: 400px;
    height: 300px;
    background: url(../images/supermix/controlroom/1-1.jpg) no-repeat;
    background-size: cover;
}

.control_page1 .img_2 {
    width: 400px;
    height: 300px;
    background: url(../supermix/controlroom/1-2.jpg) no-repeat;
    background-size: cover;
}

.control_page1 .img_3 {
    width: 400px;
    height: 300px;
    background: url(../supermix/controlroom/1-3.jpg) no-repeat;
    background-size: cover;
}

.control_page1 .img_4 {
    width: 400px;
    height: 300px;
    background: url(../supermix/controlroom/1-4.jpg) no-repeat;
    background-size: cover;
}

.control_page2 .img_5 {
    width: 400px;
    height: 300px;
    background: url(../supermix/controlroom/1-5.jpg) no-repeat;
    background-size: cover;
}

.control_page2 .img_6 {
    width: 400px;
    height: 300px;
    background: url(..) no-repeat;
    background-size: cover;
}

.control_page2 .img_7 {
    width: 400px;
    height: 300px;
    background: url(..) no-repeat;
    background-size: cover;
}

.control_page2 .img_8 {
    width: 400px;
    height: 300px;
    background: url(..) no-repeat;
    background-size: cover;
}

.control_page2 {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.recording_room {
    width: 870px;
    height: 670px;
}

.recording_page1 {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.recording_page1 .img_1 {
    width: 400px;
    height: 300px;
    background: url(../supermix/recoding_room/1-1.jpg) no-repeat;
    background-size: cover;
}

.recording_page1 .img_2 {
    width: 400px;
    height: 300px;
    background: url(../supermix/recoding_room/1-2.jpg) no-repeat;
    background-size: cover;
}

.recording_page1 .img_3 {
    width: 400px;
    height: 300px;
    background: url(../supermix/recoding_room/1-3.jpg) no-repeat;
    background-size: cover;
}

.recording_page1 .img_4 {
    width: 400px;
    height: 300px;
    background: url(../supermix/recoding_room/1-4.jpg) no-repeat;
    background-size: cover;
}

.equipment_list {
    width: 870px;
    height: 670px;
    display: flex;
}

.sec4 h2 {
    font-size: 30px;
    margin: 0;
}


.equipment_list p {
    font-size: 10px;
    margin: 10px 0;
}

.hardware_page1 {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list_box {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.list_1 {
    width: 400px;
    height: auto;
}

.list_2 {
    width: 400px;
    height: auto;
}

.list_3 {
    width: 400px;
    height: auto;
}

.list_4 {
    width: 400px;
    height: auto;
}

.hardware_page2 {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list_box2 {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.list_5 {
    width: 300px;
    height: auto;
}

.list_6 {
    width: 300px;
    height: auto;
}

.list_7 {
    width: 300px;
    height: auto;
}

.list_8 {
    width: 300px;
    height: auto;
}

.list_box3 {
    width: 870px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.list_9 {
    width: 300px;
    height: auto;
}

.list_10 {
    width: 300px;
    height: auto;
}

.list_11 {
    width: 300px;
    height: auto;
}

.list_12 {
    width: 300px;
    height: auto;
}





/*sec5*/
.sec5 {
    /* height: 1000px; */
    background: #333333;
}

.sec5 .inner1200 {
    width: 1200px;
}

.sec5_title {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    padding: 40px 0 0 0;
}

.sec5 p {
    font-size: 18px;
    color: #eeeeee;
}

/* p font-size 20px 에서 18px 로 변경 */

.price_box {
    display: flex;
    /* margin: 120px 0 0 0; */
}

.sec5 .left_n2 {
    width: 560px;
    /* height: 679px; */
}

.sec5 .right_n2 {
    width: 560px;
    height: 679px;
}

.price_img1 {
    width: 150px;
    height: 150px;
    margin: 0;
    background: url(../supermix/priceRight/studio\ 1h.png) no-repeat;
    mix-blend-mode: luminosity;
}

.studio_1h {
    width: 560px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.price_img2 { 
    width: 150px;
    height: 150px;
    margin: 0;
    background: url(../supermix/priceRight/studio\ 1pro.png) no-repeat;
    mix-blend-mode: luminosity;
}

.studio_1pro {
    width: 560px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.price_img3 { 
    width: 150px;
    height: 150px;
    margin: 0;
    background: url(../supermix/priceRight/studio\ rental\ 1h.png) no-repeat;
    mix-blend-mode: luminosity;
}

.studio_rantal {
    width: 560px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.price_img4 { 
    width: 150px;
    height: 150px;
    margin: 0;
    background: url(../supermix/priceRight/MR+mixing.png) no-repeat;
    mix-blend-mode: luminosity;
}

.MR_mixing {
    width: 560px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.price_img5 { 
    width: 150px;
    height: 150px;
    margin: 0;
    background: url(../supermix/priceRight/MR+all.png) no-repeat;
    mix-blend-mode: luminosity;
}

.multitrack {
    width: 560px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.price_img6 { 
    width: 150px;
    height: 150px;
    margin: 0;
    background: url(../supermix/priceRight/mutitrack\ mixing.png) no-repeat;
    mix-blend-mode: luminosity;
}

.MR_all {
    width: 560px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.text_box {
    height: 168px;
    margin: 0;
}





/*sec6*/

.sec6 .inner1200 {
    width: 1200px;
}

.sec6_title {
    font-size: 50px;
    font-weight: bold;
    padding: 40px 0 0 0;
}

.info {
    text-decoration: none;
    font-style: normal;
}

.info p {
    font-size: 20px;
    margin: 30px 0;
}

.sns a {
    text-decoration: none;
    color: #000;
}

.sns li {
    list-style: none;
}

.sns {
    display: flex;
    width: 600px;
}

.naver_booking {
    width: 60px;
    height: 68px;
    background: url(../supermix/sns/naver.svg) no-repeat;
}

.instargram {
    width: 60px;
    height: 60px;
    background: url(../supermix/sns/intargram.svg) no-repeat ;
    margin-top: 5px;
}

.facebook {
    width: 60px;
    height: 60px;
    background: url(../supermix/sns/facebook.svg) no-repeat ;
    margin-top: 5px;
}

.kakaotalk {
    width: 60px;
    height: 60px;
    background: url(../supermix/sns/kakaotalk.svg) no-repeat ;
    margin-top: 5px;
}

.contect_box {
    display: flex;
    margin-top: 100px;
}
.left_n3 {
    width: 600px;
}

.right_n3 {
    width: 600px;
}

.map {
    width: 590px;
    height: 476px;
    background: url(../supermix/시안용\ 지도.JPG) no-repeat;
    background-size: cover;
    /* margin-top: 30px; */
}




/* 푸터 */

footer { background: #000; height: 180px; display: flex; align-items: center; padding-left: 30px; }

footer p { color: #eee; margin: 0px; }

