.inner { width: 80%; }

section { height: calc(100vh - 100px); }

header { height: 100px; }

header .top.nav { display: none; flex-direction: column; width: 80%; height: 80%; position: fixed; top: 100px; right: 0; align-items: flex-start; justify-content: space-around; background: #000; padding-left: 6%; }

header .top.nav a { font-size: 4rem; }

header .menu { display: inline-block; }